*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
form,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1230;
  padding: 0 15px;
  margin: auto;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.background-image-wrapper {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;

  /* для расположения header и main */
  display: flex;
  flex-direction: column;
}

header {
  padding: 17px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

main {
  flex-grow: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.logo-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: white;
  transition: color 0.2s;
  cursor: pointer;
}

.logo-text:hover {
  color: #3cb878;
  transition: color 0.2s;
}

.header-menu {
  display: flex;
  align-items: center;
}

.nav-icons {
  display: flex;
}

.nav-icons::after {
  content: "";
  width: 1px;
  height: 19px;
  position: relative;
  top: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.nav-icons-item {
  display: flex; /* убираем лишний отступ снизу для шрифта */
  margin-right: 25px;
}

.nav-icons-img {
  fill: white;
  transition: fill 0.2s;
}
.nav-icons-img:hover {
  fill: #3cb878;
}

.header-enter {
  color: white;
  font-size: 14px;
  line-height: 14px;
  margin-left: 27px;
  transition: color 0.2s;
}

.header-link {
  transition: color 0.2s;
}

.header-link:hover {
  color: #3cb878;
}

.form-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  padding: 31px 60px 38px;
  position: relative;
  /* зеленый квадратик */
  background: linear-gradient(#3CB878, #3CB878, 20px, transparent 20px) 0 29px / 20px 20px;
  background-repeat: no-repeat;
  background-color: white;
}

.form-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-title {
  font-size: 20px;
  line-height: 20px;
}

.form-login-link {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  position: relative;
}

.form-login-link:hover {
  text-decoration: underline;
}

.form-social-buttons {
  display: flex;
  margin-bottom: 31px;
}

.form-button {
  border-radius: 4px;
  border: none;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.form-button:focus {
  outline: none;
}

.facebook-button {
  background-color: #305db8;
  margin-right: 8px;
  padding-right: 22px;
  padding-left: 17px;
  transition: background-color 0.2s;
  position: relative;
}

.facebook-button::after,
.google-button::after {
  content: "";
  height: 61%;
  width: 1px;
  position: absolute;
  left: 48px;
  background-color: #2B0D09;
  opacity: 0.1;
}

.facebook-button:hover,
.facebook-button:focus {
  background-color: #022263;
}

.google-button {
  background-color: #df4a32;
  padding-right: 27px;
  padding-left: 12px;
  transition: background-color 0.2s;
  position: relative;
}

.google-button:hover,
.google-button:focus {
  background-color: #ab1f09;
}

.button-logo {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.button-logo::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #0a162f;
  opacity: 0.1;
  position: absolute;
  right: 0;
}

.form-button-text {
  font-size: 16px;
  line-height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.or-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.or-box::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  top: 10px;
}

.form-or {
  position: absolute;
  background-color: white;
  padding: 0 5px;
}

.form-input-text {
  width: 100%;
  padding: 16px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
  font-family: "Ubuntu", sans-serif;
  display: flex;
}

.form-input-text:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.agreement-label {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.green-text {
  color: #3cb878;
  transition: color 0.2s;
}

.green-text:hover {
  color: #01813f;
}

.agreement-label {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 28px;
  user-select: none;
}

/* спрятать чекбокс браузера */
#agreement-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#agreement-checkbox:focus ~ .checkmark {
  border: 1px solid black;
}

/* создать кастомный чекбокс */
.checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 23px;
  width: 23px;
  border: 1px solid #f2f2f2;
  padding: 3px 3px 4px 3px;
}

/* стилизовать индикатор чекмарка */
.checkmark::after {
  content: url("../img/checkbox-item.svg");
  display: none;
  height: 14px;
  width: 14px;
}

#agreement-checkbox:checked ~ .checkmark:after {
  display: block;
}

.create-account-button {
  background-color: rgba(60, 184, 120, 0.8);
  color: white;
  justify-content: center;
  padding: 16px 16px;
  width: 100%;
  transition: background-color 0.2s;
}

.create-account-button:hover,
.create-account-button:focus {
  background-color: #01813f;
}

/* svg */
.svg-wrap {
  display: none;
}
