@import "./vars";

.footer {
  background-color: black;

  padding-top: 36px;
  padding-bottom: 47px;

  @media(min-width: $resolution-mobile) {
    padding-top: 57px;
    padding-bottom: 56px;
  }
  @media(min-width: $resolution-tablet) {
    padding-top: 66px;
    padding-bottom: 70px;
  }
}


.footer .container {
  display: grid;
  justify-items: center;
}

.h2-title--white {
  color: white;
}

.footer__h2-title {
  margin-bottom: 8px;

  @media(min-width: $resolution-mobile) {
    margin-bottom: 22px;
  }
}

.footer-text {
  color:#B9B9B9;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  max-width: 680px;
  margin-bottom: 26px;

  @media(min-width: $resolution-mobile) {
    margin-bottom: 37px;
  }
}

.socials {
  display: flex;
  width: 192px;
  justify-content: space-between;
  margin-bottom: 25px;

  @media(min-width: $resolution-mobile) {
    margin-bottom: 34px;
  }
}

.footer-address {
  display: grid;
  justify-items: center;

  @media(min-width: 600px) {
    display: flex;
    justify-content: center;
  }
}

.footer-contacts {
  font-size: 14px;
  line-height: 24px;
  color:#B9B9B9;
  white-space: pre;
}
