body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-left: 13px;
  padding-right: 17px;
  margin: 0 auto;
  max-width: 1200px;
}

.h2-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
