@import "./vars";

.navigation {
  padding-top: 23px;
  padding-bottom: 23px;
  position: relative;

  @media(min-width: $resolution-mobile) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media(min-width: $resolution-tablet) {
    padding-top: 50px;
    padding-bottom: 55px;
  }
}

.menu-btn {
  height: 37px;
  width: 44px;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: black;
  display: grid;
  align-content: space-between;
  padding: 13px 0;

  @media(min-width: $resolution-mobile) {
      display: none;
  }
}

.navigation__button {
  margin-left: auto;
}

.menu-btn__bar  {
  height: 2px;
  width: 17px;
  background-color: white;
  transition: transform .5s ease-out;
}

.menu-btn__bar--upper.open {
  transform: translateY(4.5px) rotate(45deg);
  transform-origin: center;
}
.menu-btn__bar--middle.open {
  display: none;
}
.menu-btn__bar--bottom.open {
  transform: translateY(-4.5px) rotate(-45deg);
  transform-origin: center;
}

.main-menu {
  display: none;

  &.open {
    @media(max-width: $resolution-mobile) {
      display: grid;
      position: absolute;
      right: 0;
      background-color: #F5F5F5;
    }
  }

  @media(min-width: $resolution-mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    max-width: 823px;
  }
}

.navigation__menu {
  margin: auto;
}

.main-menu__item {
  padding: 8px 12px;
  display: flex;
  transition: color, background-color .2s;

  &:hover {
    color: #57A4A4;
  }

  @media(max-width: $resolution-mobile) {
    .main-menu.open &:hover {
      background-color: #E5E5E5;
    }
  }
}

.main-menu__link {
  text-transform: uppercase;
  font-size: 11px;
}

.banner__picture {
  display: block;
  width: 100%;
}

.banner__image {
  display: block;
  width: 100%
}
