@import "./general";
@import "./vars";

.recent-posts {
  padding-top: 38px;
  padding-bottom: 40px;

  @media(min-width: $resolution-tablet) {
    padding-top: 56px;
    padding-bottom: 60px;
  }
  @media(min-width: $resolution-mobile) {
    padding-top: 66px;
    padding-bottom: 70px;
  }
}

.recent-posts__h2-title {
  margin-bottom: 24px;
}

.posts-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 28px;

  @media(min-width: $resolution-mobile) {
    row-gap: 50px;
    column-gap: 32px;
  }
  @media(min-width: $resolution-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.posts-item {
  display: grid;

  @media(min-width: $resolution-mobile) {
    display: flex;
  }
}


.posts-item:last-child {
  display: none;

  @media(min-width: $resolution-mobile) {
    & {
      display: flex;
    }
  }
}

.posts-item__image {
  margin-right: 21px;
  margin-bottom: 16px;

  @media(min-width: $resolution-mobile) {
    & {
      margin-bottom: 0;
    }
  }
}

.posts-item__description {
  max-width: 560px;
}

.posts-item__subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  color: #4E4E4E;
  margin-bottom: 12px;
}

.posts-item__comments {
  display: block;
  font-size: 12px;
  color: #7C7C7C;
  margin-bottom: 16px;
}

.posts-item__text {
  display: none;

  @media(min-width: $resolution-mobile) {
    display: flex;
    font-size: 14px;
    color: #5C5C5C;
    line-height: 24px;
  }
}



.instagram {
  padding-top: 38px;
  padding-bottom: 42px;

  @media(min-width: $resolution-mobile) {
    padding-top: 47px;
    padding-bottom: 50px;
    background-color: #F7F7F7;
  }
}

.instagram-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram__h2-title {
  margin-bottom: 13px;
  margin-right: 32px;

  @media(min-width: $resolution-mobile) {
    margin-bottom: 35px;
  }
  @media(min-width: $resolution-tablet) {
    margin-bottom: 24px;
  }
}

.instagram-link {
  display: none;

  @media(min-width: $resolution-mobile) {
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.instagram-list {
  display: flex;
}

.instagram-list__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }

  &:nth-child(n+2) {
    display: none;
    @media(min-width: $resolution-mobile) {
      display: flex;
    }
  }
  &:nth-child(4) {
    display: none;
    @media(min-width: $resolution-tablet) {
      display: flex;
    }
  }
}

.instagram-list__photo {
  width: 100%;
}
