*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
}

ul,
ol,
form,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  text-transform: uppercase;
  background-color: #FAFAFA;
  color: #484848;
  border: 31px solid #3A4965;
}

td:nth-child(even),
th:nth-child(even) {
  background-color: #E3E3E3;;
}

td:nth-child(odd):not(:first-child),
th:nth-child(odd):not(:first-child) {
  background-color: #F2F2F2;;
}

th,
td {
  border: 1px solid  #d1c6c6;
}

thead {
  border-bottom: 12px solid #3A4965;
}

.headers-row th {
  padding-top: 51px;
  padding-bottom: 23px;
}

.storage-header-cell {
  padding-left: 28px;
  padding-right: 28px;
}
.bandwidth-header-cell {
  padding-left: 18px;
  padding-right: 18px;
}
.email-header-cell {
  padding-left: 46px;
  padding-right: 46px;
}
.support-header-cell {
  padding-left: 30px;
  padding-right: 30px;
}
.products-header-cell {
  padding-left: 23px;
  padding-right: 23px;
}
.users-header-cell {
  padding-left: 42px;
  padding-right: 42px;
}

.headers-row .first-col-header {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  padding: 6px 26px 8px;
  background-color: #FAFAFA;
}

.pricing-plan {
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.header-text {
  position: relative;
  font-size: 20px;
  line-height: 28px;
}



.header-text::before {
  position: absolute;
  left: 50%;
  top: -28px;
  transform: translate(-50%);
}

.storage-header::before {
  content: url("../img/storage.svg");
}
.bandwidth-header::before {
  content: url("../img/bandwidth.svg");
}
.email-header::before {
  content: url("../img/email.svg");
}
.support-header::before {
  content: url("../img/support.svg");
}
.products-header::before {
  content: url("../img/products.svg");
}
.users-header::before {
  content: url("../img/users.svg");
}





.plan-price-cell {
  color: white;
  padding: 24px 16px;
}

.cell-standard {
  background-color: #89C331;
}

.cell-ultimate {
  background-color: #F04A56;
}

.cell-premium {
  background-color: #20807C;
}

.plan-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}
.dollars {
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 15px;
}
.cents {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  position: relative;
  top: -8px;
}
.period {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  position: relative;
  top: -7px;
}

.buy-button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  padding: 7px;
  width: 145px;
  border-radius:5px;
  border: none;
  background-image:
    linear-gradient(
      to bottom,
      #414141,
      #414141 36px,
      #343434 36px,
      #343434
    );
}

tbody td:not(:first-child) {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 8px;
}

.value {
  display: flex;
  justify-content: center;
}
