*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
}

ul,
ol,
form,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  text-transform: uppercase;
  background-color: #FAFAFA;
  color: #484848;
  border: 20px solid #3A4965;
}

th,
td {
  border: 1px solid  #d1c6c6;
}

th {
  font-weight: 700;
}

.first-col-header {
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  padding: 51px 35px 16px 35px;
}

.pricing-plan {
  font-size: 30px;
  line-height: 28px;
  display: block;
}

.col-header {
  color: white;
  padding: 24px 16px 21px;
  font-size: 24px;
  line-height: 28px;
}

.header-standart {
  background-color: #89C331;
  border-left-style: hidden;
}
.header-ultimate {
  background-color:#F04A56;
  font-size: 30px;
  line-height: 28px;
  border-left-style: hidden;
}
.header-premium {
  background-color: #20807C;
  border-left-style: hidden;
}

.prices-content {
  display: flex;
  padding: 16px 33px 4px 33px;
}

.price-dollars {
  font-size: 60px;
  font-weight: 700;
  display: flex;
}

.vertically {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  top: -5px;
}

.price-cents {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.price-period {
  font-weight: normal;
  font-size: 18px;
}

tbody {
  font-size: 16px;
}
tbody tr:nth-child(even) {
  background-color: #F2F2F2;;
}

tbody tr:nth-child(odd) {
  background-color: #E3E3E3;;
}

td {
  text-align: center;
  padding: 23px 16px 23px;
}

.storage-header::before {
  content: url("../img/storage.svg");
  position: relative;
  left: -4px;
}

.bandwidth-header::before {
  content: url("../img/bandwidth.svg");
  position: relative;
  left: -4px;
 }
.email-header::before {
  content: url("../img/email.svg");
  position: relative;
  left: -4px;
 }
.support-header::before {
  content: url("../img/support.svg");
  position: relative;
  left: -4px;
 }
.products-header::before {
  content: url("../img/products.svg");
  position: relative;
  left: -4px;
 }
.users-header::before {
  content: url("../img/users.svg");
  position: relative;
  left: -4px;
 }

 tfoot td {
   padding: 28px 16px;
 }

.button {
  padding: 20px 16px 18px;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  min-width: 195px;
}

.contact-button {
  background-image:
    linear-gradient(
      to bottom,
      #484848,
      #484848 42px,
      #404040 42px,
      #404040
    );
}

.buy-standart-button {
  background-image:
    linear-gradient(
      to bottom,
      #89C331,
      #89C331 42px,
      #79B027 42px,
      #79B027
    );
}

.buy-ultimate-button {
  background-image:
    linear-gradient(
      to bottom,
      #F04A56,
      #F04A56 42px,
      #DF3A46 42px,
      #DF3A46
    );
}

.buy-premium-button {
  background-image:
    linear-gradient(
      to bottom,
      #20807C,
      #20807C 42px,
      #16736F 42px,
      #16736F
    );
}
