body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, transparent 10%, rgb(77, 216, 100));
  color: black;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#app {
  margin: 0 auto;
  align-self: center;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
td {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  text-align: center;
  vertical-align: center;
}
.controls-container {
  display: grid;
}

.result-box {
  padding: 12px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: rgb(112, 17, 92);
  margin-bottom: 24px;
  margin-top: 24px;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

#start-button {
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  background-image: linear-gradient(to bottom, rgb(112, 214, 138) 10%, rgb(18, 107, 30));
  font-weight: bold;
  font-size: 18px;
  color: rgb(217, 240, 118);
  margin-bottom: 24px;
  text-transform: uppercase;
}

input {
  padding: 10px;
  width: 40px;
  margin-right: 20px;
  border: none;
  box-shadow: 0 0 5px #666 inset;
  background-image: linear-gradient(to bottom, rgb(221, 231, 80) 10%, rgb(159, 175, 17));
  color: rgb(51, 43, 44);
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.size-btn {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  background-image: linear-gradient(to bottom, rgb(112, 214, 138) 10%, rgb(18, 107, 30));
  font-weight: bold;
  font-size: 14px;
  color: rgb(217, 240, 118);
  margin-bottom: 24px;
}

.counter {
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(180, 185, 181) 10%, rgb(67, 70, 67));
  color: rgb(239, 240, 235);
  margin-bottom: 24px;
}
