<footer class="footer">
  <div class="container">
    <h2 class="h2-title h2-title--white footer__h2-title">- get in touch with us -</h2>
    <p class="footer-text">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
    </p>
    <ul class="socials">
      <li class="socials__item"><a href="#void" class="social__link"><img src="./dist/img/icons/rss.png" />
      </a></li>
      <li class="socials__item"><a href="#void" class="social__link"><img src="./dist/img/icons/facebook.png" /></a></li>
      <li class="socials__item"><a href="#void" class="social__link"><img src="./dist/img/icons/twitter.png" /></a></li>
      <li class="socials__item"><a href="#void" class="social__link"><img src="./dist/img/icons/dribbble.png" /></a></li>
      <li class="socials__item"><a href="#void" class="social__link"><img src="./dist/img/icons/pinterest.png" /></a></li>
    </ul>
    <address class="footer-address">
      <address class="footer-contacts">   Moonshine St. 14-05 Light City   /</address>
      <a class="footer-contacts" href="tel:+00-123-456-78-90">   T. +00 (123) 456 78 90   /</a>
      <a class="footer-contacts" href="mailto:first.last@email.com">   first.last@email.com   </a>
    </address>
  </div>
</footer>
