<header>
  <div class="container">
    <nav class="navigation">
      <button class="menu-btn navigation__button">
        <span class="menu-btn__bar menu-btn__bar--upper"></span>
        <span class="menu-btn__bar menu-btn__bar--middle"></span>
        <span class="menu-btn__bar menu-btn__bar--bottom"></span>
      </button>
      <ul class="main-menu navigation__menu">
        <li class="main-menu__item"><a href="#void" class="main-menu__link">Home</a></li>
        <li class="main-menu__item"><a href="#void" class="main-menu__link">About Us</a></li>
        <li class="main-menu__item"><a href="#void" class="main-menu__link">Our Journal</a></li>
        <li class="main-menu__item"><a href="#void" class="main-menu__link">Projects</a></li>
        <li class="main-menu__item"><a href="#void" class="main-menu__link">news</a></li>
        <li class="main-menu__item"><a href="#void" class="main-menu__link">features</a></li>
        <li class="main-menu__item"><a href="#void" class="main-menu__link">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
