<main>
  <section class="banner">
    <div class="container">
      <picture class="banner__picture">
        <source media="(min-width:993px)" srcset="./dist/img/banner-large.png">
        <source media="(min-width:481px)" srcset="./dist/img/banner-medium.png">
        <img src="./dist/img/banner-small.png" alt="railway" class="banner__image">
      </picture>
    </div>
  </section>
  <section class="recent-posts">
    <div class="container">
      <h2 class="h2-title recent-posts__h2-title">- our Recent posts</h2>
    <ul class="posts-list">
      <li class="posts-item">
        <img class="posts-item__image" src="./dist/img/recent-posts/post-img-1.png" alt="post 1" width="160" height="140">
        <div class="posts-item__description">
          <h3 class="posts-item__subtitle">Aenean Adipiscing Etiam Vestibulum</h3>
          <span class="posts-item__comments">Photography, Journal   /   9 Comments</span>
          <p class="posts-item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </li>
      <li class="posts-item">
        <img class="posts-item__image" src="./dist/img/recent-posts/post-img-2.png" alt="post 2" width="160" height="140">
        <div class="posts-item__description">
          <h3 class="posts-item__subtitle">Aenean Adipiscing Etiam Vestibulum</h3>
          <span class="posts-item__comments">Photography, Journal   /   9 Comments</span>
          <p class="posts-item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </li>
      <li class="posts-item">
        <img class="posts-item__image" src="./dist/img/recent-posts/post-img-3.png" alt="post 3" width="160" height="140">
        <div class="posts-item__description">
          <h3 class="posts-item__subtitle">Aenean Adipiscing Etiam Vestibulum</h3>
          <span class="posts-item__comments">Photography, Journal   /   9 Comments</span>
          <p class="posts-item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </li>
      <li class="posts-item">
        <img class="posts-item__image" src="./dist/img/recent-posts/post-img-4.png" alt="post 4" width="160" height="140">
        <div class="posts-item__description">
          <h3 class="posts-item__subtitle">Aenean Adipiscing Etiam Vestibulum</h3>
          <span class="posts-item__comments">Photography, Journal   /   9 Comments</span>
          <p class="posts-item__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </li>
    </ul>
    </div>
  </section>
  <section class="instagram">
    <div class="container">
      <div class="instagram-header">
        <h2 class="h2-title instagram__h2-title">- Last Instagram Shot</h2>
        <a href="#void" class="instagram-link">go to our instagram page -</a>
      </div>
      <ul class="instagram-list">
        <li class="instagram-list__item"><img src="./dist/img/instagram/instagram-1.png" alt="instagram photo 1" class="instagram-list__photo"></li>
        <li class="instagram-list__item"><img src="./dist/img/instagram/instagram-2.png" alt="instagram photo 2" class="instagram-list__photo"></li>
        <li class="instagram-list__item"><img src="./dist/img/instagram/instagram-3.png" alt="instagram photo 3" class="instagram-list__photo"></li>
        <li class="instagram-list__item"><img src="./dist/img/instagram/instagram-4.png" alt="instagram photo 4" class="instagram-list__photo"></li>
      </ul>
    </div>
  </section>
</main>
