*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #313131;
  color: #fff;
  padding-left: 27px;
}

.logo {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex; /* запрет переноса текста от картинки */
  align-items: center;
}

.logo-img {
  margin-right: 27px;
}

.logo-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  margin-right: 16px;
}

.main-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.main-menu-item {
  margin-right: 35px;
  padding-top: 24px;
  padding-bottom: 26px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.main-menu-item:hover {
  color: #14b9d5;
}

.main-menu-link {
  text-align: center;
}

.searchable {
  padding: 27px;
  background-color: #000000;
}

/* перенос меню во второй ряд при ширине экрана меньше 640рх */
@media (max-width: 640px) {
  .header {
    flex-wrap: wrap;
  }
  .searchable {
    order: 1;
  }
  .navigation {
    order: 2;
    width: 100%;
  }
}

/* баннер */

.bunner-wrapper {
  padding-top: 164px;
  padding-bottom: 74px;
  background-image: url("./../img/header-bg.jpeg");
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  color: white;
}

.bunner-wrapper .container {
  /* позиционирование */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.h1-title {
  margin-bottom: 44px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
}

.action-buttons-wrapper {
  width: 100%;
  text-align: center;
}

.button {
  padding: 16px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  width: 170px;
  border-radius: 5px;
}

.subscribe {
  background-color: #89ca62;
  margin-right: 20px;
}

.best-articles {
  display: inline-block;
  background-color: #14b9d5;
}

/* стиль для h2 */

.h2-title {
  font-weight: bold;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 52px;
}

/* .popular-posts .container {
  display: flex;
  justify-content: center;
} */

.popular-posts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 877px;
  align-content: space-between;
  margin-bottom: 30px;
}

.popular-posts-item {
  width: 370px;
}

.popular-post-title {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 22px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 31px;
  width: 100%;
}

@media (max-width: 1200px) {
  .popular-posts-list {
    height: 1500px;
    align-content: space-around;
  }
}

@media (max-width: 820px) {
  .popular-posts-list {
    height: fit-content;
    align-content: space-around;
  }
}

/* Popular clients */

.popular-clients-wrapper {
  padding-top: 106px;
  padding-bottom: 192px;
  background-image: url("./../img/parallax-bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.bunner-wrapper .container {
  /* позиционирование */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.popular-clients-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.popular-clients-title::after {
  display: block;
  content: "";
  background-color: #f1ad1d;
  border: 2px solid #f1ad1d;
  width: 60px;
  height: 3px;
  margin: 87px auto 107;
}

.popular-clients-list {
  display: grid;
  grid-column-gap: 58px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: space-between;
}

.top-rated-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.top-rated-links {
  display: flex;
}

.top-rated-img {
  width: 100%;
}

/* hot news */

.hot-news-list {
  display: grid;
  grid-column-gap: 35px;
  justify-content: space-between;
  row-gap: 44px;
  grid-template-columns: 277px 1fr 1fr 277px;
  grid-template-rows: 259px, 1fr, 1fr, 259px;
  margin-bottom: 77px;
}

.column-1 {
  grid-column: span 2;
  width: 554px;
  justify-self: start;
}

.column-2 {
  grid-column: span 2;
  width: 554px;
  justify-self: end;
}

.hot-news-img {
  width: 100%;
}

.hot-news-first-item,
.hot-news-last-item {
  display: flex;
}

.hot-news-first-item img,
.hot-news-last-item img {
  width: 483px;
}

.hot-news-second-to-last-item img,
.hot-news-second-item img {
  width: 277px;
}

.hot-news-first-item {
  grid-column: 1 / span 3;
}

.hot-news-last-item {
  grid-column: 2 / span 3;
}

.hot-news-second-item {
  grid-column: 4;
}

.hot-news-description {
  display: grid;
  padding: 14px 24px 11px 24px;
  align-content: center;
  text-align: right;
  /* background-color: #f9f7f7; */
  background-color: #f9f7f7;
}

.hot-news-title {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.hot-news-second-item .hot-news-title,
.hot-news-second-to-last-item .hot-news-title {
  text-align: center;
}

.hot-news-preview-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  overflow: hidden;
  padding-top: 14px;
}

footer {
  background-color: black;
  color: white;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 27px 15px;
  align-items: center;
}

.footer-text {
  font-size: 13px;
  line-height: 13px;
}

.btn-top {
  padding: 8px;
  font-size: 32px;
  position: fixed;
  top: 80%;
  left: 95%;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 6px #888888;
  background-color: rgb(113, 196, 235);
  border-radius: 3px;
}
.btn-top:hover {
  background-color: rgb(60, 140, 177);
}

.hide-btn {
  display: block;
  margin: 0 auto;
  padding: 8px;
  margin: 16px;
  font-size: 32px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 6px #888888;
  background-color: rgb(113, 196, 235);
  border-radius: 3px;
}
.hide-btn:hover {
  background-color: rgb(60, 140, 177);
}
