*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding-top: 61px;
  padding-bottom: 30px;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1283px;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-bottom: 50px;
  position: relative;
}

#light-theme-btn,
#dark-theme-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: 3px 3px 6px #888888;

}
#light-theme-btn {
  top: 0;
}
#dark-theme-btn {
  top: 50px;
}

.logo {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  margin-bottom: 38px;
}

.logo-blue {
  color: #4bcaff;
}

.menu {
  display: flex;
  flex-wrap: wrap;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  background-color: #35444f;
  color: white;
  justify-content: center;
}

.menu-items {
  background-color: #35444f;
  padding-top: 26px;
  padding-bottom: 19px;
  padding-left: 38px;
  padding-right: 38px;
  border-left: 1px solid white;
  transition: background-color 0.2s;
}

.menu-items:hover {
  background-color: #222f3a;
}

aside {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #485863;
  width: 344px;
  margin-right: 52px;
}

.side-menu {
  border: 1px solid black;
}

.side-menu-items {
  padding: 27px 8px 27px 38px;
  transition: padding-left 0.2s, background-color 0.2s;
}

.side-menu-items:hover {
  color: black;
  padding-left: 72px;
  background-color: #dbdbdb;
  min-height: auto;
  transition: all 250ms linear;
}

main {
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

main p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 34px;
}

.banner-container {
  width: 100%;
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 36px;
}

.banner-container img {
  transition: transform 0.5s;
  transition-timing-function: ease;
}

.banner-container img:hover {
  transform: scale(1.2);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #b4b7b9;
  padding-bottom: 8px;
}

.footer-menu {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu-item {
  color: black;
  margin-right: 40px;
  padding-bottom: 12px;
  padding-top: 17px;
  border-bottom: 1px solid transparent;
  transition: color 0.2s, border-bottom 0.2s;
}

.footer-menu-item:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding-top: 18px;
}
