body {
  padding: 0;
  margin: 0;
}

.main-menu__container {
  margin: 15px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-menu__item {
  padding: 15px 36px;
  display: inline-block;
  color: #ff0000;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.main-menu__item a {
  color: inherit;
  text-decoration: none;
}

.banner-image {
  width: 100%;
}

.main-content {
  padding-bottom: 42px;
}

.main-content-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  letter-spacing: 3px;
  padding: 48px 0;
}

.main-content p {
  margin: 0;
  font-family: Montserrat;
  font-size: 16px;
  padding: 0 67 28 67;
  text-align: center;
}
.main-content p:last-of-type {
  margin-bottom: 56px;
}

.btn-action {
  display: block;
  margin: auto;
  padding: 18px 43px;
  border-radius: 4px;
  border: none;
  font-family: Montserrat;
  background-color: red;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-style: 12px;
}

.copyright {
  font-family: Montserrat;
  font-weight: bold;
  font-style: 16px;
  letter-spacing: 2.4px;
}

.footer {
  /*   display: flex; */
  padding: 48px;
  text-align: right;
}

.copyright {
  /* margin-left: auto; */
}
