.films-list {
  list-style: none;
}

.film-item {
  padding: 16px;
  margin: 8px;
  background-color: antiquewhite;
}

.character-link {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  margin: 4px;
  color: black;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 3px;
}

.spinner {
  display: flex;
  justify-content: center;
}
