body {
  font-family: 'Poppins', sans-serif;
  color: #FBCF00;
  margin: 0;
}

.body-element {
  background-color: black;
}


.wars-container {
  perspective: 200px;
  perspective-origin: 50% 75%;
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.js-wars {
  max-width: 320px;
  animation: fly-text 30s ease-in  infinite;
  animation-fill-mode: forwards;
}

@keyframes fly-text {
  0% {
    transform: rotateX(15deg) translateY(780px) translateZ(80px);
  }
  100% {
    transform: rotateX(15deg) translateY(0px) translateZ(80px);
  }
}

.episode-number,
.episode-name {
  text-transform: uppercase;
  text-align: center;
}

audio {
  position: fixed;
  top: 0;
}
