*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  background-image: url("../img/background.png");
  background-size: cover;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1060px;
  padding: 0 15px;
  margin: auto;
}

.header {
  padding-top: 46px;
  color: white;
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  position: relative;
  text-transform: uppercase;
  width: 220px;
  padding-left: 63px;
}

.logo-img {
  position: absolute;
  bottom: 4px;
  left: 0;
}

.logo-img-hovered {
  position: absolute;
  bottom: 4px;
  left: 0;
  display: none;
}

.logo:hover .logo-img-hovered {
  display: block;
}

.logo-text-milan {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
}

.logo-text-holidays {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.logo:hover .logo-text-milan,
.logo:hover .logo-text-holidays {
  color: #f26522;
}

.address {
  font-size: 18px;
  line-height: 18px;
  font-style: normal;
  text-align: end;
}

.address:hover {
  color: #f26522;
}

.email {
  display: inline-block;
  margin-bottom: 19px;
}

/* gallery */

.gallery-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 62px;
  justify-items: stretch; /* нужно, чтобы вне зависимости от ширины картинки элементы были одной ширины */
  justify-content: space-around;
}

.gallery-item {
  color: white;
  font-size: 18px;
  line-height: 18px;
}

.gallery-item:hover .gallery-title-link {
  color: #f26522;
}

.gallery-img-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  /* для градиентной рамки */
  border: solid 4px;
  border-image: linear-gradient(#474643, #ebe8e6) 30;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-title-link {
  display: flex;
  padding-top: 20px;
  padding-bottom: 37px;
  justify-content: center;
  font-size: 18px;
  line-height: 18px;
}

.gallery-img-wrapper {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  background-color: #f26522;
  position: absolute;
  bottom: -58px;
  transition: bottom 0.5s;
}

.price {
  display: flex;
  flex-wrap: wrap;
  width: 36px;
}

.price-from {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 8px;
}

.price-value {
  font-size: 20px;
  line-height: 20px;
}

.view-details {
  font-size: 14px;
  line-height: 14px;
  align-self: flex-end;
}

.view-details::after {
  content: url("../img/details-arrow.svg");
  margin-left: 16px;
}

.gallery-img-wrapper:hover .details {
  position: absolute;
  bottom: 0px;
}

/* footer */

.footer {
  padding-top: 12px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 12px;
}
